<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Speedlify</title>
		<meta name="description" content="Benchmark web pages over time.">
		<link rel="stylesheet" href="/style.css">
		<link rel="stylesheet" href="/chartist.css">
		<script>
		document.documentElement.classList.add("js");
		</script>
	</head>
	<body>
	<style>
	html { background: #2e2e2e !important; }
	</style>

		{{ content | safe }}

		<footer>
		</footer>

		<script src="/chartist.js"></script>
		<script src="/chart.js"></script>
	</body>
</html>
